.footerColumnText {
    font-family: Campton-Light;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}