.ButtonContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    justify-content: center;
}

@media (max-width: 500px) {
    .ButtonContainer {
        font-size: 25px;
    }
}

@media (min-width: 501px) and (max-width: 740px) {
    .ButtonContainer {
        font-size: 35px;
    }
}